*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: navy;
    background-size: cover;
}
.main{
    
    
     
     
    border-radius: 20px;

     color:black;
    
}
.clock{
    
    width:80%;
    height: 180px;
    margin-top: 15%;
    margin-left: 20%;
    border-radius: 20px;

   
}
.text{
     width: 80%;
     height: 100%;
     background: peru;
     border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
    
}
.text span{
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 50px;
    width:100px;
    
    
}

#hrs::after{
    content: 'Hours';
    position: absolute;
    top: 50px;
    left: -10px;
   
}
#min::after{
    content: 'Minutes';
    position: absolute;
    top: 50px;
    left: -30px;
    
}
#hrs, #min, #sec, .colon{
    /* margin-left: 70px; */
    margin-bottom: 50px;
    background-color: peru ;
   
}
#sec::after{
    content: 'Seconds';
    position: absolute;
    top: 50px;
    left: -30px;
}